* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #fffbf4;
}

.main_div {
  width: 100vw;
  height: auto;
}

.heading {
  text-align: center;
  font-size: 1rem;
  color: black;
  margin: 2rem auto;
  font-weight: 600;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.center_div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: auto;
}
.right_side {
  border: 2px solid black;
  height: 70vh;
  width: 40vw;
  padding: 1rem;
  overflow: scroll;
}
.left_side {
  overflow: scroll;
  background-color: black;
  height: 70vh;
  width: 40vw;
  color: white;
  padding: 1rem;
}
